<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <%- include ('../partials/fonts.ejs') %>
  </head>
  <body>

    <h1>Project Information</h1>
      <%JSON.stringify(project)%>
    <h2> Name: <%=project.projectName%></h2>
    <h2> Image: <%project.previewImage%></h2>
    <div class="image">
      <img class="imgs" src="<%=project.previewImage%>"></img>
    </div>
    <br/>
    <p>Description: <%=project.description%></p><br/>

    <nav>
      <a class="return" href="/portfolio">Back to my portfolio</a><br/>

 <% if (currentUser) { %>
      <a class="editbutton" href="/portfolio/<%=project.id%>/edit"> <button class="editanddelete">Edit</button></a>

        <form action="/portfolio/<%=project.id%>?_method=DELETE" method="POST">
          <input class="delete" type="submit" value="DELETE"/>
        </form>
  <% } %>

    </nav>

    <style>
    body{
      font-family: 'Libre Baskerville', serif;
    }
    nav{
      background-color: #422894;
      color: white;
    }
    nav a{
      color: white;
      margin-left: 45%
    }
    .editanddelete{
      margin-left: 5%
    }
    nav h1{
      color: white;
      text-align: center
    }
    .lowNav{
     text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    }
    h1{
      color: #422894;
      font-family: 'Libre Baskerville', serif;
      text-align: center;
      font-weight: bolder;
    }
    h2{
      text-align: center;
    }
    p{
      text-align: center;
    }
    .text {
          display: flex;
          flex-wrap: wrap;
          gap: 10px
        }
    .images{
          max-width: 350px;
          max-height: 300px;
        }
    .card{
          border: 1px solid black;
          border-radius: 25px;
          padding: 20px;
        }
    .nameLink{
      font-family: 'Libre Baskerville', serif;
    }
    .card:hover{
          box-shadow: 2px 2px
        }
    button{
      background-color: #DFDAF1;
      color: #422894;
      font-family: 'Libre Baskerville', serif;
    }
    .delete{
      background-color: #DFDAF1;
      color: #422894;
      font-family: 'Libre Baskerville', serif;
      margin-left: 49%
    }
    .login{
      text-align: right
    }
    .brand-logo{
     background-color: #DFDAF1;
     color: #422894;
     font-family: 'Ultra', serif;
     font-size: 30px;
     text-decoration: none;
     text-align: center
    }
    .image{
          display: flex;
          justify-content: center;
        }
    .cardLink{
      text-decoration: none;
      text-align: center
    }
    .projTitle{
      font-weight: bold
    }
    </style>

  </body>
</html>
