body{
  font-family: 'Libre Baskerville', serif;
}
nav{
  background-color: #422894;
  color: white;
}
nav a{
  color: white;
  text-align: right;
}
nav h1{
  color: white;
  text-align: right;
  margin-right: 10px
}
.lowNav{
 text-align: center;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
h1{
  color: #422894;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  font-weight: bolder;
}
.text {
      display: flex;
      flex-wrap: wrap;
      gap: 10px
    }
.images{
      max-width: 350px;
      max-height: 300px;
    }
.card{
      border: 1px solid black;
      border-radius: 25px;
      padding: 20px;
    }
.nameLink{
  font-family: 'Libre Baskerville', serif;
}
.card:hover{
      box-shadow: 2px 2px
    }
button{
  background-color: #DFDAF1;
  color: #422894;
  font-family: 'Libre Baskerville', serif;
}
.login{
  text-align: right
}
.brand-logo{
 color: #DFDAF1;
 margin-left: 8px;
 font-family: 'Ultra', serif;
 font-size: 50px;
 text-decoration: none;
 text-align: center
}
.cardLink{
  text-decoration: none;
  text-align: center
}
.projTitle{
  font-weight: bold
}
.logout{
  text-align: right;
  margin-right: 10px;
  padding-bottom: 0.1px
}
.logoutbutton{
  background-color: #DFDAF1;
  color: #422894;
  font-family: 'Libre Baskerville', serif;
}
